# Alpha Miner Algorithm - Playground

In [104]:
%load_ext autoreload
%autoreload 2

import pandas
import pm4py
from practical.ProcessMining.task2.alphaminer import AlphaMiner

def import_csv(file_path):
    event_log = pandas.read_csv(file_path, sep=';')
    event_log = pm4py.format_dataframe(event_log, case_id='case_id', activity_key='activity', timestamp_key='timestamp')
    return event_log

def import_xes(file_path):
    event_log = pm4py.read_xes(file_path)
    return event_log

def print_all_pairs_of_alphabet(pairs, alphabet):
    output = []
    int_only = True
    for pair in pairs:
        first = pair[0]
        second = pair[1]

        if isinstance(first, tuple):
            first = (alphabet.get(first[0]), alphabet.get(first[1]))
            int_only = False
        else:
            first = alphabet.get(first)
        if isinstance(second, tuple):
            second = (alphabet.get(second[0]), alphabet.get(second[1]))
            int_only = False
        else:
            second = alphabet.get(second)
        output.append((first, second))
    print(sorted(output)) if int_only else print(output)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
 import_csv("example_files/running-example.csv")

,case_id,activity,timestamp,costs,resource,case:concept:name,concept:name,time:timestamp,@@index,@@case_index
0,1,register request,2010-12-30 10:02:00+00:00,50,Pete,1,register request,2010-12-30 10:02:00+00:00,0,0
1,1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,1,examine thoroughly,2010-12-31 09:06:00+00:00,1,0
2,1,check ticket,2011-01-05 14:12:00+00:00,100,Mike,1,check ticket,2011-01-05 14:12:00+00:00,2,0
3,1,decide,2011-01-06 10:18:00+00:00,200,Sara,1,decide,2011-01-06 10:18:00+00:00,3,0
4,1,reject request,2011-01-07 13:24:00+00:00,200,Pete,1,reject request,2011-01-07 13:24:00+00:00,4,0
5,2,register request,2010-12-30 10:32:00+00:00,50,Mike,2,register request,2010-12-30 10:32:00+00:00,5,1
6,2,check ticket,2010-12-30 11:12:00+00:00,100,Mike,2,check ticket,2010-12-30 11:12:00+00:00,6,1
7,2,examine casually,2010-12-30 13:16:00+00:00,400,Sean,2,examine casually,2010-12-30 13:16:00+00:00,7,1
8,2,decide,2011-01-05 10:22:00+00:00,200,Sara,2,decide,2011-01-05 10:22:00+00:00,8,1
9,2,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,2,pay compensation,2011-01-08 11:05:00+00:00,9,1
10,3,register request,2010-12-30 13:32:00+00:00,50,Pete,3,register request,2010-12-30 13:32:00+00:00,10,2
11,3,examine casually,2010-12-30 14:06:00+00:00,400,Mike,3,examine casually,2010-12-30 14:06:00+00:00,11,2
12,3,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,3,check ticket,2010-12-30 15:34:00+00:00,12,2
13,3,decide,2011-01-06 08:18:00+00:00,200,Sara,3,decide,2011-01-06 08:18:00+00:00,13,2
14,3,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,3,reinitiate request,2011-01-06 11:18:00+00:00,14,2
15,3,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,3,examine thoroughly,2011-01-06 12:06:00+00:00,15,2
16,3,check ticket,2011-01-08 10:43:00+00:00,100,Pete,3,check ticket,2011-01-08 10:43:00+00:00,16,2
17,3,decide,2011-01-09 08:55:00+00:00,200,Sara,3,decide,2011-01-09 08:55:00+00:00,17,2
18,3,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,3,pay compensation,2011-01-15 09:45:00+00:00,18,2
19,4,register request,2011-01-06 14:02:00+00:00,50,Pete,4,register request,2011-01-06 14:02:00+00:00,19,3
20,4,check ticket,2011-01-07 11:06:00+00:00,100,Mike,4,check ticket,2011-01-07 11:06:00+00:00,20,3
21,4,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,4,examine thoroughly,2011-01-08 13:43:00+00:00,21,3
22,4,decide,2011-01-09 11:02:00+00:00,200,Sara,4,decide,2011-01-09 11:02:00+00:00,22,3
23,4,reject request,2011-01-12 14:44:00+00:00,200,Ellen,4,reject request,2011-01-12 14:44:00+00:00,23,3
24,5,register request,2011-01-06 08:02:00+00:00,50,Ellen,5,register request,2011-01-06 08:02:00+00:00,24,4
25,5,examine casually,2011-01-07 09:16:00+00:00,400,Mike,5,examine casually,2011-01-07 09:16:00+00:00,25,4
26,5,check ticket,2011-01-08 10:22:00+00:00,100,Pete,5,check ticket,2011-01-08 10:22:00+00:00,26,4
27,5,decide,2011-01-10 12:28:00+00:00,200,Sara,5,decide,2011-01-10 12:28:00+00:00,27,4
28,5,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,5,reinitiate request,2011-01-11 15:18:00+00:00,28,4
29,5,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,5,check ticket,2011-01-14 13:33:00+00:00,29,4
30,5,examine casually,2011-01-16 14:50:00+00:00,400,Mike,5,examine casually,2011-01-16 14:50:00+00:00,30,4
31,5,decide,2011-01-19 10:18:00+00:00,200,Sara,5,decide,2011-01-19 10:18:00+00:00,31,4
32,5,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,5,reinitiate request,2011-01-20 11:48:00+00:00,32,4
33,5,examine casually,2011-01-21 08:06:00+00:00,400,Sue,5,examine casually,2011-01-21 08:06:00+00:00,33,4
34,5,check ticket,2011-01-21 10:34:00+00:00,100,Pete,5,check ticket,2011-01-21 10:34:00+00:00,34,4
35,5,decide,2011-01-23 12:12:00+00:00,200,Sara,5,decide,2011-01-23 12:12:00+00:00,35,4
36,5,reject request,2011-01-24 13:56:00+00:00,200,Mike,5,reject request,2011-01-24 13:56:00+00:00,36,4
37,6,register request,2011-01-06 14:02:00+00:00,50,Mike,6,register request,2011-01-06 14:02:00+00:00,37,5
38,6,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,6,examine casually,2011-01-06 15:06:00+00:00,38,5
39,6,check ticket,2011-01-07 15:22:00+00:00,100,Mike,6,check ticket,2011-01-07 15:22:00+00:00,39,5
40,6,decide,2011-01-07 15:52:00+00:00,200,Sara,6,decide,2011-01-07 15:52:00+00:00,40,5
41,6,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,6,pay compensation,2011-01-16 10:47:00+00:00,41,5

In [59]:
import_xes("example_files/running-example.xes")

parsing log, completed traces ::   0%|          | 0/6 [00:00<?, ?it/s]

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 11:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 10:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 15:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 11:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 14:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 11:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 12:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 14:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 11:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 12:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 14:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 15:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 16:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 09:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 12:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 13:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 11:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 09:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 10:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 15:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 12:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 14:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 12:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 15:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 09:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 10:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 11:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 13:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 16:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 14:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 15:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 11:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 12:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 09:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 11:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 13:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 14:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 15:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 16:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 16:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 16:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 11:47:00+00:00,200,Mike,23,6

In [60]:
miner1 = AlphaMiner("example_files/running-example.csv")
miner1.activities

{0: 'check ticket',
 1: 'decide',
 2: 'examine casually',
 3: 'examine thoroughly',
 4: 'pay compensation',
 5: 'register request',
 6: 'reinitiate request',
 7: 'reject request'}

In [61]:
miner1.event_log

   case_id            activity  activity_id
0        1    register request            5
1        1  examine thoroughly            3
2        1        check ticket            0
3        1              decide            1
4        1      reject request            7
5        2    register request            5
6        2        check ticket            0
7        2    examine casually            2
8        2              decide            1
9        2    pay compensation            4
10       3    register request            5
11       3    examine casually            2
12       3        check ticket            0
13       3              decide            1
14       3  reinitiate request            6
15       3  examine thoroughly            3
16       3        check ticket            0
17       3              decide            1
18       3    pay compensation            4
19       4    register request            5
20       4        check ticket            0
21       4  examine thoroughly            3
22       4              decide            1
23       4      reject request            7
24       5    register request            5
25       5    examine casually            2
26       5        check ticket            0
27       5              decide            1
28       5  reinitiate request            6
29       5        check ticket            0
30       5    examine casually            2
31       5              decide            1
32       5  reinitiate request            6
33       5    examine casually            2
34       5        check ticket            0
35       5              decide            1
36       5      reject request            7
37       6    register request            5
38       6    examine casually            2
39       6        check ticket            0
40       6              decide            1
41       6    pay compensation            4

In [62]:
miner1.traces

array([array([5, 3, 0, 1, 7]), array([5, 0, 2, 1, 4]),
       array([5, 2, 0, 1, 6, 3, 0, 1, 4]), array([5, 0, 3, 1, 7]),
       array([5, 2, 0, 1, 6, 0, 2, 1, 6, 2, 0, 1, 7]),
       array([5, 2, 0, 1, 4])], dtype=object)

In [63]:
print_all_pairs_of_alphabet(miner1.following_pairs, miner1.activities)

[('check ticket', 'decide'), ('check ticket', 'examine casually'), ('check ticket', 'examine thoroughly'), ('decide', 'pay compensation'), ('decide', 'reinitiate request'), ('decide', 'reject request'), ('examine casually', 'check ticket'), ('examine casually', 'decide'), ('examine thoroughly', 'check ticket'), ('examine thoroughly', 'decide'), ('register request', 'check ticket'), ('register request', 'examine casually'), ('register request', 'examine thoroughly'), ('reinitiate request', 'check ticket'), ('reinitiate request', 'examine thoroughly')]

In [64]:
print_all_pairs_of_alphabet(miner1.parallel_pairs, miner1.activities)

[('check ticket', 'examine casually'), ('check ticket', 'examine thoroughly'), ('examine casually', 'check ticket'), ('examine thoroughly', 'check ticket')]

In [65]:
print_all_pairs_of_alphabet(miner1.sequential_pairs, miner1.activities)

[('check ticket', 'decide'), ('decide', 'pay compensation'), ('decide', 'reinitiate request'), ('decide', 'reject request'), ('examine casually', 'decide'), ('examine thoroughly', 'decide'), ('register request', 'check ticket'), ('register request', 'examine casually'), ('register request', 'examine thoroughly'), ('reinitiate request', 'check ticket'), ('reinitiate request', 'examine thoroughly')]

In [66]:
print_all_pairs_of_alphabet(miner1.not_following_pairs, miner1.activities)

[('check ticket', 'check ticket'), ('check ticket', 'pay compensation'), ('check ticket', 'reject request'), ('decide', 'decide'), ('decide', 'register request'), ('examine casually', 'examine casually'), ('examine casually', 'examine thoroughly'), ('examine casually', 'pay compensation'), ('examine casually', 'reinitiate request'), ('examine casually', 'reject request'), ('examine thoroughly', 'examine casually'), ('examine thoroughly', 'examine thoroughly'), ('examine thoroughly', 'pay compensation'), ('examine thoroughly', 'reject request'), ('pay compensation', 'check ticket'), ('pay compensation', 'examine casually'), ('pay compensation', 'examine thoroughly'), ('pay compensation', 'pay compensation'), ('pay compensation', 'register request'), ('pay compensation', 'reinitiate request'), ('pay compensation', 'reject request'), ('register request', 'decide'), ('register request', 'pay compensation'), ('register request', 'register request'), ('register request', 'reinitiate request'), ('register request', 'reject request'), ('reinitiate request', 'examine casually'), ('reinitiate request', 'pay compensation'), ('reinitiate request', 'register request'), ('reinitiate request', 'reinitiate request'), ('reinitiate request', 'reject request'), ('reject request', 'check ticket'), ('reject request', 'examine casually'), ('reject request', 'examine thoroughly'), ('reject request', 'pay compensation'), ('reject request', 'register request'), ('reject request', 'reinitiate request'), ('reject request', 'reject request')]

In [67]:
miner1.footprint_matrix()
miner1.print_pairs()

Activity dictionary:
{0: 'check ticket', 1: 'decide', 2: 'examine casually', 3: 'examine thoroughly', 4: 'pay compensation', 5: 'register request', 6: 'reinitiate request', 7: 'reject request'}
Following pairs >:
[[0 1]
 [2 1]
 [3 1]
 [0 3]
 [2 0]
 [1 4]
 [3 0]
 [1 7]
 [0 2]
 [5 0]
 [6 0]
 [5 3]
 [1 6]
 [6 3]
 [5 2]]
Parallel pairs ||:
[[0 3]
 [2 0]
 [3 0]
 [0 2]]
Sequential pairs ->:
[[0 1]
 [2 1]
 [3 1]
 [1 4]
 [1 7]
 [5 0]
 [6 0]
 [5 3]
 [1 6]
 [6 3]
 [5 2]]
Not following pairs #:
[[0 0]
 [0 4]
 [0 7]
 [1 1]
 [1 5]
 [2 2]
 [2 3]
 [2 4]
 [2 6]
 [2 7]
 [3 2]
 [3 3]
 [3 4]
 [3 7]
 [4 0]
 [4 2]
 [4 3]
 [4 4]
 [4 5]
 [4 6]
 [4 7]
 [5 1]
 [5 4]
 [5 5]
 [5 6]
 [5 7]
 [6 2]
 [6 4]
 [6 5]
 [6 6]
 [6 7]
 [7 0]
 [7 2]
 [7 3]
 [7 4]
 [7 5]
 [7 6]
 [7 7]]
Maximal pairs:
[[1 (4, 6)]
 [(0, 2) 1]
 [(0, 3) 1]
 [1 (6, 7)]
 [(5, 6) 0]
 [5 (0, 3)]
 [(5, 6) 3]
 [6 (0, 3)]
 [(2, 3) 1]
 [1 (4, 7)]
 [5 (2, 3)]
 [5 (0, 2)]]

In [68]:
miner2 = AlphaMiner("example_files/slides-example.csv")
miner2.print_pairs()

Activity dictionary:
{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
Following pairs >:
[[1 2]
 [0 3]
 [2 3]
 [0 2]
 [3 2]
 [1 3]]
Parallel pairs ||:
[[2 3]
 [3 2]]
Sequential pairs ->:
[[1 2]
 [0 3]
 [0 2]
 [1 3]]
Not following pairs #:
[[0 0]
 [0 1]
 [1 0]
 [1 1]
 [2 2]
 [3 3]]
Maximal pairs:
[[0 (2, 3)]
 [1 (2, 3)]
 [(0, 1) 2]
 [(0, 1) 3]]

In [69]:
miner2.event_log

   case_id activity  activity_id
0        1        a            0
1        1        c            2
2        1        d            3
3       10        b            1
4       10        d            3
5       10        c            2
6       11        b            1
7       11        d            3
8       11        c            2
9        2        a            0
10       2        c            2
11       2        d            3
12       3        a            0
13       3        c            2
14       3        d            3
15       4        a            0
16       4        d            3
17       4        c            2
18       5        a            0
19       5        d            3
20       5        c            2
21       6        b            1
22       6        c            2
23       6        d            3
24       7        b            1
25       7        c            2
26       7        d            3
27       8        b            1
28       8        d            3
29       8        c            2
30       9        b            1
31       9        d            3
32       9        c            2

In [70]:
miner2.traces

array([array([0, 2, 3]), array([1, 3, 2]), array([1, 3, 2]),
       array([0, 2, 3]), array([0, 2, 3]), array([0, 3, 2]),
       array([0, 3, 2]), array([1, 2, 3]), array([1, 2, 3]),
       array([1, 3, 2]), array([1, 3, 2])], dtype=object)

In [71]:
print_all_pairs_of_alphabet(miner2.following_pairs, miner2.activities)

[('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd'), ('d', 'c')]

In [72]:
print_all_pairs_of_alphabet(miner2.parallel_pairs, miner2.activities)

[('c', 'd'), ('d', 'c')]

In [73]:
print_all_pairs_of_alphabet(miner2.sequential_pairs, miner2.activities)

[('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd')]

In [74]:
print_all_pairs_of_alphabet(miner2.not_following_pairs, miner2.activities)

[('a', 'a'), ('a', 'b'), ('b', 'a'), ('b', 'b'), ('c', 'c'), ('d', 'd')]

In [75]:
print(miner2.footprint_matrix())

   a  b   c   d
a  #  #
b  #  #
c       #  ||
d      ||   #

In [76]:
miner2.traces

array([array([0, 2, 3]), array([1, 3, 2]), array([1, 3, 2]),
       array([0, 2, 3]), array([0, 2, 3]), array([0, 3, 2]),
       array([0, 3, 2]), array([1, 2, 3]), array([1, 2, 3]),
       array([1, 3, 2]), array([1, 3, 2])], dtype=object)

# Part 2 - Scope Footprint to Graph input

In [88]:
miner1 = AlphaMiner("example_files/running-example.csv")
miner2 = AlphaMiner("example_files/slides-example.csv")

In [106]:
miner2.print_pairs()

Activity dictionary:
{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
Following pairs >:
[[1 2]
 [0 3]
 [2 3]
 [0 2]
 [3 2]
 [1 3]]
Parallel pairs ||:
[[2 3]
 [3 2]]
Sequential pairs ->:
[[1 2]
 [0 3]
 [0 2]
 [1 3]]
Not following pairs #:
[[0 0]
 [0 1]
 [1 0]
 [1 1]
 [2 2]
 [3 3]]
Maximal pairs:
[[0 (2, 3)]
 [1 (2, 3)]
 [(0, 1) 2]
 [(0, 1) 3]]

### Maximal Pairs for miner2

In [107]:
print_all_pairs_of_alphabet(miner2.maximal_pairs, miner2.activities)

[('a', ('c', 'd')), ('b', ('c', 'd')), (('a', 'b'), 'c'), (('a', 'b'), 'd')]