# Alpha Miner Algorithm - Playground

In [112]:
import pandas as pd
%load_ext autoreload
%autoreload 2

import pandas
import pm4py
from practical.ProcessMining.task2.alphaminer import AlphaMiner

def import_csv(file_path):
    event_log = pandas.read_csv(file_path, sep=';')
    event_log = pm4py.format_dataframe(event_log, case_id='case_id', activity_key='activity', timestamp_key='timestamp')
    return event_log

def import_xes(file_path):
    event_log = pm4py.read_xes(file_path)
    return event_log

def printPairs(pairs, alphabet):
    output = []
    for pair in pairs:
        output.append((alphabet.get(pair[0]), alphabet.get(pair[1])))
    print(sorted(output))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [113]:
 import_csv("example_files/running-example.csv")

,case_id,activity,timestamp,costs,resource,case:concept:name,concept:name,time:timestamp,@@index,@@case_index
0,1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,1,examine thoroughly,2010-12-31 09:06:00+00:00,0,0
1,1,check ticket,2011-01-05 14:12:00+00:00,100,Mike,1,check ticket,2011-01-05 14:12:00+00:00,1,0
2,1,decide,2011-01-06 10:18:00+00:00,200,Sara,1,decide,2011-01-06 10:18:00+00:00,2,0
3,1,reject request,2011-01-07 13:24:00+00:00,200,Pete,1,reject request,2011-01-07 13:24:00+00:00,3,0
4,1,register request,2012-12-30 10:02:00+00:00,50,Pete,1,register request,2012-12-30 10:02:00+00:00,4,0
5,2,register request,2010-12-30 10:32:00+00:00,50,Mike,2,register request,2010-12-30 10:32:00+00:00,5,1
6,2,check ticket,2010-12-30 11:12:00+00:00,100,Mike,2,check ticket,2010-12-30 11:12:00+00:00,6,1
7,2,examine casually,2010-12-30 13:16:00+00:00,400,Sean,2,examine casually,2010-12-30 13:16:00+00:00,7,1
8,2,decide,2011-01-05 10:22:00+00:00,200,Sara,2,decide,2011-01-05 10:22:00+00:00,8,1
9,2,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,2,pay compensation,2011-01-08 11:05:00+00:00,9,1
10,3,register request,2010-12-30 13:32:00+00:00,50,Pete,3,register request,2010-12-30 13:32:00+00:00,10,2
11,3,examine casually,2010-12-30 14:06:00+00:00,400,Mike,3,examine casually,2010-12-30 14:06:00+00:00,11,2
12,3,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,3,check ticket,2010-12-30 15:34:00+00:00,12,2
13,3,decide,2011-01-06 08:18:00+00:00,200,Sara,3,decide,2011-01-06 08:18:00+00:00,13,2
14,3,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,3,reinitiate request,2011-01-06 11:18:00+00:00,14,2
15,3,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,3,examine thoroughly,2011-01-06 12:06:00+00:00,15,2
16,3,check ticket,2011-01-08 10:43:00+00:00,100,Pete,3,check ticket,2011-01-08 10:43:00+00:00,16,2
17,3,decide,2011-01-09 08:55:00+00:00,200,Sara,3,decide,2011-01-09 08:55:00+00:00,17,2
18,3,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,3,pay compensation,2011-01-15 09:45:00+00:00,18,2
19,4,register request,2011-01-06 14:02:00+00:00,50,Pete,4,register request,2011-01-06 14:02:00+00:00,19,3
20,4,check ticket,2011-01-07 11:06:00+00:00,100,Mike,4,check ticket,2011-01-07 11:06:00+00:00,20,3
21,4,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,4,examine thoroughly,2011-01-08 13:43:00+00:00,21,3
22,4,decide,2011-01-09 11:02:00+00:00,200,Sara,4,decide,2011-01-09 11:02:00+00:00,22,3
23,4,reject request,2011-01-12 14:44:00+00:00,200,Ellen,4,reject request,2011-01-12 14:44:00+00:00,23,3
24,5,register request,2011-01-06 08:02:00+00:00,50,Ellen,5,register request,2011-01-06 08:02:00+00:00,24,4
25,5,examine casually,2011-01-07 09:16:00+00:00,400,Mike,5,examine casually,2011-01-07 09:16:00+00:00,25,4
26,5,check ticket,2011-01-08 10:22:00+00:00,100,Pete,5,check ticket,2011-01-08 10:22:00+00:00,26,4
27,5,decide,2011-01-10 12:28:00+00:00,200,Sara,5,decide,2011-01-10 12:28:00+00:00,27,4
28,5,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,5,reinitiate request,2011-01-11 15:18:00+00:00,28,4
29,5,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,5,check ticket,2011-01-14 13:33:00+00:00,29,4
30,5,examine casually,2011-01-16 14:50:00+00:00,400,Mike,5,examine casually,2011-01-16 14:50:00+00:00,30,4
31,5,decide,2011-01-19 10:18:00+00:00,200,Sara,5,decide,2011-01-19 10:18:00+00:00,31,4
32,5,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,5,reinitiate request,2011-01-20 11:48:00+00:00,32,4
33,5,examine casually,2011-01-21 08:06:00+00:00,400,Sue,5,examine casually,2011-01-21 08:06:00+00:00,33,4
34,5,check ticket,2011-01-21 10:34:00+00:00,100,Pete,5,check ticket,2011-01-21 10:34:00+00:00,34,4
35,5,decide,2011-01-23 12:12:00+00:00,200,Sara,5,decide,2011-01-23 12:12:00+00:00,35,4
36,5,reject request,2011-01-24 13:56:00+00:00,200,Mike,5,reject request,2011-01-24 13:56:00+00:00,36,4
37,6,register request,2011-01-06 14:02:00+00:00,50,Mike,6,register request,2011-01-06 14:02:00+00:00,37,5
38,6,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,6,examine casually,2011-01-06 15:06:00+00:00,38,5
39,6,check ticket,2011-01-07 15:22:00+00:00,100,Mike,6,check ticket,2011-01-07 15:22:00+00:00,39,5
40,6,decide,2011-01-07 15:52:00+00:00,200,Sara,6,decide,2011-01-07 15:52:00+00:00,40,5
41,6,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,6,pay compensation,2011-01-16 10:47:00+00:00,41,5

In [114]:
import_xes("example_files/running-example.xes")

parsing log, completed traces ::   0%|          | 0/6 [00:00<?, ?it/s]

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 11:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 10:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 15:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 11:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 14:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 11:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 12:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 14:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 11:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 12:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 14:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 15:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 16:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 09:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 12:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 13:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 11:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 09:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 10:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 15:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 12:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 14:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 12:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 15:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 09:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 10:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 11:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 13:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 16:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 14:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 15:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 11:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 12:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 09:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 11:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 13:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 14:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 15:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 16:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 16:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 16:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 11:47:00+00:00,200,Mike,23,6

In [115]:
miner1 = AlphaMiner("example_files/running-example.csv")
miner1.activities

{0: 'examine thoroughly',
 1: 'check ticket',
 2: 'decide',
 3: 'reject request',
 4: 'register request',
 5: 'examine casually',
 6: 'pay compensation',
 7: 'reinitiate request'}

In [116]:
miner1.event_log

   case_id            activity  activity_id
0        1  examine thoroughly            0
1        1        check ticket            1
2        1              decide            2
3        1      reject request            3
4        1    register request            4
5        2    register request            4
6        2        check ticket            1
7        2    examine casually            5
8        2              decide            2
9        2    pay compensation            6
10       3    register request            4
11       3    examine casually            5
12       3        check ticket            1
13       3              decide            2
14       3  reinitiate request            7
15       3  examine thoroughly            0
16       3        check ticket            1
17       3              decide            2
18       3    pay compensation            6
19       4    register request            4
20       4        check ticket            1
21       4  examine thoroughly            0
22       4              decide            2
23       4      reject request            3
24       5    register request            4
25       5    examine casually            5
26       5        check ticket            1
27       5              decide            2
28       5  reinitiate request            7
29       5        check ticket            1
30       5    examine casually            5
31       5              decide            2
32       5  reinitiate request            7
33       5    examine casually            5
34       5        check ticket            1
35       5              decide            2
36       5      reject request            3
37       6    register request            4
38       6    examine casually            5
39       6        check ticket            1
40       6              decide            2
41       6    pay compensation            6

In [117]:
miner1.traces

array([array([0, 1, 2, 3, 4]), array([4, 1, 5, 2, 6]),
       array([4, 5, 1, 2, 7, 0, 1, 2, 6]), array([4, 1, 0, 2, 3]),
       array([4, 5, 1, 2, 7, 1, 5, 2, 7, 5, 1, 2, 3]),
       array([4, 5, 1, 2, 6])], dtype=object)

In [118]:
printPairs(miner1.following_pairs, miner1.activities)

[('check ticket', 'decide'), ('check ticket', 'examine casually'), ('check ticket', 'examine thoroughly'), ('decide', 'pay compensation'), ('decide', 'reinitiate request'), ('decide', 'reject request'), ('examine casually', 'check ticket'), ('examine casually', 'decide'), ('examine thoroughly', 'check ticket'), ('examine thoroughly', 'decide'), ('register request', 'check ticket'), ('register request', 'examine casually'), ('reinitiate request', 'check ticket'), ('reinitiate request', 'examine thoroughly'), ('reject request', 'register request')]

In [119]:
printPairs(miner1.parallel_pairs, miner1.activities)

[('check ticket', 'examine casually'), ('check ticket', 'examine thoroughly'), ('examine casually', 'check ticket'), ('examine thoroughly', 'check ticket')]

In [120]:
printPairs(miner1.sequential_pairs, miner1.activities)

[('check ticket', 'decide'), ('decide', 'pay compensation'), ('decide', 'reinitiate request'), ('decide', 'reject request'), ('examine casually', 'decide'), ('examine thoroughly', 'decide'), ('register request', 'check ticket'), ('register request', 'examine casually'), ('reinitiate request', 'check ticket'), ('reinitiate request', 'examine thoroughly'), ('reject request', 'register request')]

In [121]:
printPairs(miner1.not_following_pairs, miner1.activities)

[('check ticket', 'check ticket'), ('check ticket', 'pay compensation'), ('check ticket', 'reject request'), ('decide', 'decide'), ('decide', 'register request'), ('examine casually', 'examine casually'), ('examine casually', 'examine thoroughly'), ('examine casually', 'pay compensation'), ('examine casually', 'reinitiate request'), ('examine casually', 'reject request'), ('examine thoroughly', 'examine casually'), ('examine thoroughly', 'examine thoroughly'), ('examine thoroughly', 'pay compensation'), ('examine thoroughly', 'register request'), ('examine thoroughly', 'reject request'), ('pay compensation', 'check ticket'), ('pay compensation', 'examine casually'), ('pay compensation', 'examine thoroughly'), ('pay compensation', 'pay compensation'), ('pay compensation', 'register request'), ('pay compensation', 'reinitiate request'), ('pay compensation', 'reject request'), ('register request', 'decide'), ('register request', 'examine thoroughly'), ('register request', 'pay compensation'), ('register request', 'register request'), ('register request', 'reinitiate request'), ('reinitiate request', 'examine casually'), ('reinitiate request', 'pay compensation'), ('reinitiate request', 'register request'), ('reinitiate request', 'reinitiate request'), ('reinitiate request', 'reject request'), ('reject request', 'check ticket'), ('reject request', 'examine casually'), ('reject request', 'examine thoroughly'), ('reject request', 'pay compensation'), ('reject request', 'reinitiate request'), ('reject request', 'reject request')]

In [122]:
miner1.footprint_matrix()

,check ticket,decide,examine casually,examine thoroughly,pay compensation,register request,reinitiate request,reject request
check ticket,#,,||,||,#,,,#
decide,,#,,,,#,,
examine casually,||,,#,#,#,,#,#
examine thoroughly,||,,#,#,#,#,,#
pay compensation,#,,#,#,#,#,#,#
register request,,#,,#,#,#,#,
reinitiate request,,,#,,#,#,#,#
reject request,#,,#,#,#,,#,#

In [123]:
miner2 = AlphaMiner("example_files/slides-example.csv")
miner2.activities

{0: 'a', 1: 'c', 2: 'd', 3: 'b'}

In [124]:
miner2.event_log

   case_id activity  activity_id
0        1        a            0
1        1        c            1
2        1        d            2
3       10        b            3
4       10        d            2
5       10        c            1
6       11        b            3
7       11        d            2
8       11        c            1
9        2        a            0
10       2        c            1
11       2        d            2
12       3        a            0
13       3        c            1
14       3        d            2
15       4        a            0
16       4        d            2
17       4        c            1
18       5        a            0
19       5        d            2
20       5        c            1
21       6        b            3
22       6        c            1
23       6        d            2
24       7        b            3
25       7        c            1
26       7        d            2
27       8        b            3
28       8        d            2
29       8        c            1
30       9        b            3
31       9        d            2
32       9        c            1

In [125]:
miner2.traces

array([array([0, 1, 2]), array([3, 2, 1]), array([3, 2, 1]),
       array([0, 1, 2]), array([0, 1, 2]), array([0, 2, 1]),
       array([0, 2, 1]), array([3, 1, 2]), array([3, 1, 2]),
       array([3, 2, 1]), array([3, 2, 1])], dtype=object)

In [126]:
printPairs(miner2.following_pairs, miner2.activities)

[('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd'), ('d', 'c')]

In [127]:
printPairs(miner2.parallel_pairs, miner2.activities)

[('c', 'd'), ('d', 'c')]

In [128]:
printPairs(miner2.sequential_pairs, miner2.activities)

[('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd')]

In [129]:
printPairs(miner2.not_following_pairs, miner2.activities)

[('a', 'a'), ('a', 'b'), ('b', 'a'), ('b', 'b'), ('c', 'c'), ('d', 'd')]

In [130]:
print(miner2.footprint_matrix())

   a  b   c   d
a  #  #
b  #  #
c       #  ||
d      ||   #